# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\19-StringAndRegex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
